{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="alert alert-dismissible alert-secondary" style="margin-top: 10px;">
    <strong>사진을 분석해드립니다</strong>
    </div>

    <div class="alert alert-dismissible alert-secondary">
    <form action="{% url 'photo:photo_create' %}" method="post" enctype="multipart/form-data" style="margin: 10px;">
            {% csrf_token %}

        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->

        <fieldset>
          <div class="form-group">
              <img id="preview" src="#" name="image" alt="사진을 넣어주세요" style="width:500px;">
            <input class="form-control mb-3" type="file" name="file" onchange="readURL(this);" style="margin-top:10px;">
          </div>

        </fieldset>
          <button type="submit" class="btn btn-primary">Analysis</button>
    </form>
    </div>
</div>

<script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
{% endblock %}